{% extends 'doctor-base.html' %}
{% load static %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <ul class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Dashboard</a></li>
            <li class="breadcrumb-item">Generate Prescription</li>
        </ul>
    </div><!-- End Page Title -->
    <div id="success"></div>
    <section class="section profile">
        <div class="row">
            <div class="col-xl-3">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-header">User Detail / Prescription Disease</div>
                            <div class="card-body profile-card pt-1 d-flex flex-column align-items-left" id="profile">
                                <h3 class="mt-2"><b>User Name : </b>{{prescription.user}}</h3>
                                <h3 class="mt-2"><b>Disease : </b>{{prescription.prescription_message}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" id="status_card">
                        <div class="card shadow">
                            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center" id="profile">
                                <h3 class="mt-2">Prescription Status : <span class="text-success">Is {{prescription.prescription_status}}</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-9">
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow">
                            <div class="card-body pt-3">
                                <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="profile_link">
                                    <li class="nav-item col">
                                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Generate Prescription</button>
                                    </li>
                                </ul>
                            </div>
                            <div id="medicines-container"></div>
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    var x = 0;
                                    function appendMedicineRow() {
                                        var newRow = `
                                        <form id="prescription-form" class="card-body pt-3" method="POST">
                                            <input type="hidden" id="x-field" name="x" value="0">
                                            <div id="medicine-row-${x}" class="row mb-3 ms-2 me-2">
                                                <div class="col-lg-7 col-md-4 label">
                                                    <div class="row">
                                                        <div class="col-4 mt-1">
                                                            <label for="medicine_name_${x}" class="form-label">Medicine Name :- </label>
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" class="form-control" id="medicine_name_${x}" name="medicine_name_${x}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-8 label">
                                                    <div class="row">
                                                        <div class="col mt-1">
                                                            <label for="medicine_quantity_${x}" class="form-label">Quantity :- </label>
                                                        </div>
                                                        <div class="col">
                                                            <input type="text" class="form-control" id="medicine_quantity_${x}" name="medicine_quantity_${x}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-1 label">
                                                    <button class="btn btn-secondary cross">X</button>
                                                </div>
                                            </div>
                                        </form>
                                        `;
                                        $('#medicines-container').append(newRow);
                                        x++;
                                    }
                            
                                    $('#add_new_medicine').click(function(e) {
                                        e.preventDefault();
                                        appendMedicineRow();
                                    });
                            
                                    $('#medicines-container').on('click', '.cross', function(e) {
                                        e.preventDefault();
                                        var rowId = $(this).closest('.row').attr('id');
                                        $('#' + rowId).remove();
                                        x--;
                                    });
                                });
                            </script>
                            <button type="button" class="btn btn-secondary ms-2 me-2" id="add_new_medicine">Add New Medicine</button>
                            <dic class="card-footer">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary" id="generate-prescription">Generate</button>
                                </div>
                            </dic>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    $(document).ready(function() {
        $('#generate-prescription').click(function(e) {
            e.preventDefault();
            var formData = $('#prescription-form').serializeArray();
            var medicinesData = {};
            formData.forEach(function(field) {
                if (field.name.startsWith('medicine_name_')) {
                    medicinesData[field.name] = field.value;
                }
                if (field.name.startsWith('medicine_quantity_')) {
                    medicinesData[field.name] = field.value;
                }
            });
            console.log(medicinesData);
            $.ajax({
                type: 'POST',
                url: '{% url "generate" %}', // replace with your server URL
                data: medicinesData,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function() {
                    console.log('Prescription generated successfully:');
                },
                error: function() {
                    console.error('Error generating prescription:');
                }
            });
            x++;
        });    
    });
</script>
<!-- <script type="text/javascript">
    $(document).ready(function(){
        var x = 0;
        $('#add_new').click(function(e){
            e.preventDefault();
            console.log('btn clicked');
            appendRow();
            x++;
        })

        $('#form_wrapper').on('click', 'cross', function(e){
            e.preventDefault();
            alert('x');
            var id = e.currentTarget.id;
            $('div[id='+id+']').remove();
            x--;
        });

        function appendRow(){
            $('#form_wrapper').append(
                `<div id="'+x+'" class="row">
                    <div class="col-lg-7 col-md-4 label">
                        <div class="row">
                            <div class="col-4 mt-1">
                                <label for="category_name" class="form-label">Product Name :- </label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="category_name" name="category_name">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-8 label">
                        <div class="row">
                            <div class="col mt-1">
                                <label for="category_name" class="form-label">Quantity :- </label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="category_name" name="category_name">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 label mt-2">
                        <button class="btn btn-secondary cross">X</button>
                    </div>
                </div>`
            );
        }
    });
</script> -->

{% endblock  %}