{% extends 'base.html' %}
{% load static %}
{% load cart %}
{% block content %}
<!-- Products -->
<div class="position-fixed top-5 end-0 p-3" id="myAlert" style="z-index: 11;">
</div>
<section class="shadow" style="background-color: #eee;">
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4 shadow">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'users_home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Product</li>
                    </ol>
                </nav>
            </div>
        </div>
        <section class="">
          <div class="container">
            <div class="row">
              <!-- sidebar -->
              <div class="col-lg-3">
                <!-- Toggle button -->
                <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none" type="button" data-mdb-collapse-init data-mdb-ripple-init data-mdb-target="#filterSupportedContent" aria-expanded="false" aria-controls="navbarSupportedContent">
                  <span>Show filter</span>
                </button>
                <!-- Collapsible wrapper -->
                <div class="collapse card d-lg-block mb-5" id="filterSupportedContent">
                  <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button text-dark bg-light" type="button" data-mdb-collapse-init data-mdb-ripple-init data-mdb-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" >
                          All Category
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="accordion-body">
                          <ul class="list-unstyled">
                            {% for i in subcategory %}
                            <li><a href="{% url 'filter_category' i.subcategory_id %}" id="filter_category" class="text-dark">{{i.subcategory_name}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button text-dark bg-light" type="button" data-mdb-collapse-init data-mdb-ripple-init data-mdb-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo" >
                          Company
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                        <div class="accordion-body">
                          <div>
                            <ul class="list-unstyled">
                              {% for i in company %}
                              
                              <li><a href="{% url 'filter_company' i.company_id %}" id="filter_company" class="text-dark">{{i.company_name}}</a></li>
                              
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse" data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          Price
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                        <div class="accordion-body">
                          <div class="range">
                            <input type="range" class="form-range" id="customRange1" />
                          </div>
                          <div class="row mb-3">
                            <div class="col-6">
                              <p class="mb-0">
                                Min
                              </p>
                              <div class="form-outline">
                                <input type="number" id="typeNumber" class="form-control" />
                                <label class="form-label" for="typeNumber">₹ 0</label>
                              </div>
                            </div>
                            <div class="col-6">
                              <p class="mb-0">
                                Max
                              </p>
                              <div class="form-outline">
                                <input type="number" id="typeNumber" class="form-control" />
                                <label class="form-label" for="typeNumber">₹ 1000</label>
                              </div>
                            </div>
                          </div>
                          <button type="button" class="btn btn-white w-100 border border-secondary">apply</button>
                        </div>
                      </div>
                    </div> -->
                    <!-- <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse" data-mdb-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          Size
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                        <div class="accordion-body">
                          <input type="checkbox" class="btn-check border justify-content-center" id="btn-check1" checked autocomplete="off" />
                          <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check1">XS</label>
                          <input type="checkbox" class="btn-check border justify-content-center" id="btn-check2" checked autocomplete="off" />
                          <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check2">SM</label>
                          <input type="checkbox" class="btn-check border justify-content-center" id="btn-check3" checked autocomplete="off" />
                          <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check3">LG</label>
                          <input type="checkbox" class="btn-check border justify-content-center" id="btn-check4" checked autocomplete="off" />
                          <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check4">XXL</label>
                        </div>
                      </div>
                    </div> -->
                    <!-- <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse" data-mdb-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                          Ratings
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                        <div class="accordion-body">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                            <label class="form-check-label" for="flexCheckDefault">
                              <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-warning"></i>
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                            <label class="form-check-label" for="flexCheckDefault">
                              <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                              <i class="fas fa-star text-secondary"></i>
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                            <label class="form-check-label" for="flexCheckDefault">
                              <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-secondary"></i>
                              <i class="fas fa-star text-secondary"></i>
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                            <label class="form-check-label" for="flexCheckDefault">
                              <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-secondary"></i><i class="fas fa-star text-secondary"></i>
                              <i class="fas fa-star text-secondary"></i>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <!-- sidebar -->
              <!-- content -->
              <div class="col-lg-9">
                <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                  <strong class="d-block py-2">{{product_count}} Items found </strong>
                </header>

                <div class="row cart_detail" id="my_cart">
                  {% for i in product %}
                  <div class="col-lg-4 col-md-6 col-sm-6 d-flex mb-5">
                    <div class="card w-100 h-100 my-2 shadow-2-strong">
                      <a href="{% url 'product_detail' i.product_id %}">
                        <img src="/{{i.product_img}}" class="card-img-top p-5" style="aspect-ratio: 1 / 1" />
                      </a>
                      <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{i.product_name}}</h5>
                        <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                          {% if user.is_authenticated %}
                            {% if i|is_in_cart:cart %}
                            <div class="input-group">
                              <div class="col">
                                <button data-item-id="{{ i.product_id }}" class="btn btn-white border border-secondary px-3 ms-2" style="height: 35px;" id="all_product_minus_qty" data-mdb-ripple-color="dark">
                                  <i class="fas fa-minus"></i>
                                </button>
                              </div>
                              <div class="col" id="cart_qty_value">
                                <input id="cart_qty" type="text" class="form-control text-center border border-secondary rounded" value="{{i|cart_qty:cart}}" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                              </div>
              
                              <div class="col">
                                <button data-item-id="{{ i.product_id }}" class="btn btn-white border border-secondary px-3 ms-2" style="height: 35px;" id="all_product_plus_qty" data-mdb-ripple-color="dark">
                                  <i class="fas fa-plus"></i>
                                </button>
                              </div>
                            </div>
                            {% else %}
                            <form action="{% url 'add_to_cart' %}" method="POST" enctype="multipart/form-data" id="add_to_cart">
                              {% csrf_token %}
                              <button data-item-id="{{i.product_id}}" class="btn btn-primary shadow me-1" type="submit" value="Add To Cart" id="all_product_id_cart_item">Add To Cart</button>
                            </form>
                            {% endif %}
                          {% else %}
                            {% if user.is_authenticated %}
                              <a href="{% url 'checkout' i.product_id %}" class="btn btn-primary shadow" type="submit">Buy Now</a>
                            {% else %}
                              <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#exampleModal">
                                Buy Now
                              </button>
                            {% endif %}
                          {% endif %}
                          <p class="card-text ms-4 mb-1">₹{{i.product_discount_price}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">Do You Want To Login ?</div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
                        <a href="{% url 'login_page' %}" type="button" class="btn btn-primary" data-mdb-ripple-init>Login</a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="row justify-content-center mb-3">
                  <div class="col-md-12">
                    <div class="card shadow-0 border rounded-3">
                      <div class="card-body">
                        <div class="row g-0">
                          <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                            <div class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0">
                              <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp" class="w-100" />
                              <a href="#!">
                                <div class="hover-overlay">
                                  <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                </div>
                              </a>
                            </div>
                          </div>
                          <div class="col-xl-6 col-md-5 col-sm-7">
                            <h5>Rucksack Backpack Jeans</h5>
                            <div class="d-flex flex-row">
                              <div class="text-warning mb-1 me-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="ms-1">
                                  4.5
                                </span>
                              </div>
                              <span class="text-muted">154 orders</span>
                            </div>
        
                            <p class="text mb-4 mb-md-0">
                              Short description about the product goes here, for ex its features. Lorem ipsum dolor sit amet with hapti you enter into any new area of science, you almost lorem ipsum is great text
                              consectetur adipisicing
                            </p>
                          </div>
                          <div class="col-xl-3 col-md-3 col-sm-5">
                            <div class="d-flex flex-row align-items-center mb-1">
                              <h4 class="mb-1 me-1">$34,50</h4>
                              <span class="text-danger"><s>$49.99</s></span>
                            </div>
                            <h6 class="text-success">Free shipping</h6>
                            <div class="mt-4">
                              <button class="btn btn-primary shadow-0" type="button">Buy this</button>
                              <a href="#!" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg px-1"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <hr />

                <!-- Pagination -->
                <!-- <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                  <ul class="pagination">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav> -->
                <!-- Pagination -->
                <div class="pagination">
                  <span class="step-links">
                      {% if page_obj.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
              
                      <span class="current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
              
                      {% if page_obj.has_next %}
                          <a href="?page={{ page_obj.next_page_number }}">next</a>
                          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                  </span>
              </div>
              </div>
            </div>
          </div>
        </section>
    </div>
</section>
<!-- Products -->
{% endblock  %}